<!DOCTYPE html>
<html>
<head>
	<title>Escáner de Puertos</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script defer src="/static/js/jquery-3.3.1.js"></script>
	<script defer src="/static/js/funcionalidad.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P"
	 crossorigin="anonymous">
	<meta charset="utf-8">
</head>
<body>
	<div id="contenedor">
		<div id="top">
			<div class="left">
				<label id="servidor"> Servidor:
					<input type="text" name="host" placeholder="Servidor" placeholder="198.168.0.0" id="host">
				</label>
				<label class="puertos">Puerto Inicial:
					<input type="number" name="puertoInicial" min="1" placeholder="80" id="portinit"
				</label>
				<label class="puertos"> Puerto Final:
					<input type="number" name="puertoFinal" min="1" placeholder="8080" id="portfin">
				</label>
				<button id="escanear">Escanear</button>
			</div>
			<div class="right">
				<label>Puertos abiertos:
					<select id="puertosDisponibles">
						<option>Escanee primero</option>
					</select>
				</label>
				<button id="btnConectar">Conectar</button>
			</div>
		</div>
		<div id="center">
			<h3 id="estado">Realice un escaneo primero</h3>
			<p id="terminal"></p>
			<div id="contenido"></div>
		</div>
		<div id="bottom">
			<span>></span>
			<input type="text" name="" id="mensaje" placeholder="Escribe aquí los comandos" onkeypress="ajustarPantalla()">
		</div>
	</div>
</body>
</html>